:root {
    --bg-color: #A99F96;
    --primary-color: #945D5E;
    --secondary-color: #71677C; 
    --font-color: #37123C;
    --accent-color: #DDA77B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-sizing: border-box;
    color: var(--font-color);
}

#player-scores-container{
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
}

#player-names, #player-scores{
    display: flex;
    justify-content: center;
    gap: 16px;
    font-weight: bold;
}

.player-score{
    font-size: 1.5rem;
    
}

#game-board-container{
    height: 60vh;
    width: 60vh;
    margin: 36px;;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-btns-container{
    box-sizing: border-box;
}

.board{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
}

.row {
    width: 100%;
    height: calc(100%/3);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.cell{ 
    width: calc(100%/3);
    height: 100%;
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
}

.player-one-move{
    background-image: url(./assets/circle-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.player-two-move{
    background-image: url(./assets/x-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#new-game-btn{
    background-color: var(--accent-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-game-btn:active{
    box-shadow: 2px 2px var(--secondary-color);
}